# Objective : Working on Text Data

<hr>

1. Introduction
2. Concat, Split & Join 
3. Contains, Find
4. Cleaning Punchuations
5. Checking contents of String Data
6. String Manipulation

<hr>

### 1. Introduction
* Columns many times contain string data. 
* And, string data may always not be in best of their hygine.
* Pandas provide rich api's to make task easier using .str functions.

In [1]:
import pandas as pd

### 2. Concat, Split & Join

In [3]:
df = pd.DataFrame({'A':['a','b','c','d']})

In [4]:
df

   A
0  a
1  b
2  c
3  d

In [8]:
df.A.str.cat(sep=' ')

'a b c d'

In [6]:
df.A.str.cat(['1','2','3','4'])

0    a1
1    b2
2    c3
3    d4
Name: A, dtype: object

In [7]:
horror_data = pd.read_csv('../Data/horror-train.csv')

In [8]:
horror_data = horror_data.iloc[:10]

In [9]:
horror_data

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL
5  id22965  A youth passed in solitude, my best years spen...    MWS
6  id09674  The astronomer, perhaps, at this point, took r...    EAP
7  id13515        The surcingle hung in ribands from my body.    EAP
8  id19322  I knew that you could not say to yourself 'ste...    EAP
9  id00912  I confess that neither the structure of langua...    MWS

In [10]:
horror_data.text.str.split()

0    [This, process,, however,, afforded, me, no, m...
1    [It, never, once, occurred, to, me, that, the,...
2    [In, his, left, hand, was, a, gold, snuff, box...
3    [How, lovely, is, spring, As, we, looked, from...
4    [Finding, nothing, else,, not, even, gold,, th...
5    [A, youth, passed, in, solitude,, my, best, ye...
6    [The, astronomer,, perhaps,, at, this, point,,...
7    [The, surcingle, hung, in, ribands, from, my, ...
8    [I, knew, that, you, could, not, say, to, your...
9    [I, confess, that, neither, the, structure, of...
Name: text, dtype: object

In [11]:
horror_data.text.str.split(expand=True,n=20)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,This,"process,","however,",afforded,me,no,means,of,ascertaining,the,...,of,my,dungeon;,as,I,might,make,its,"circuit,","and return to the point whence I set out, with..."
1,It,never,once,occurred,to,me,that,the,fumbling,might,...,a,mere,mistake.,None,None,None,None,None,None,None
2,In,his,left,hand,was,a,gold,snuff,"box,",from,...,as,he,capered,down,the,"hill,",cutting,all,manner,"of fantastic steps, he took snuff incessantly ..."
3,How,lovely,is,spring,As,we,looked,from,Windsor,Terrace,...,the,sixteen,fertile,counties,spread,"beneath,",speckled,by,happy,"cottages and wealthier towns, all looked as in..."
4,Finding,nothing,"else,",not,even,"gold,",the,Superintendent,abandoned,his,...,but,a,perplexed,look,occasionally,steals,over,his,countenance,as he sits thinking at his desk.
5,A,youth,passed,in,"solitude,",my,best,years,spent,under,...,gentle,and,feminine,"fosterage,",has,so,refined,the,groundwork,of my character that I cannot overcome an inte...
6,The,"astronomer,","perhaps,",at,this,"point,",took,refuge,in,the,...,of,non,luminosity;,and,here,analogy,was,suddenly,let,fall.
7,The,surcingle,hung,in,ribands,from,my,body.,None,None,...,None,None,None,None,None,None,None,None,None,None
8,I,knew,that,you,could,not,say,to,yourself,'stereotomy',...,being,brought,to,think,of,"atomies,",and,thus,of,"the theories of Epicurus; and since, when we d..."
9,I,confess,that,neither,the,structure,of,"languages,",nor,the,...,of,"governments,",nor,the,politics,of,various,states,possessed,attractions for me.

In [23]:
res = horror_data.text.str.split()

In [28]:
res.str.join(sep=' ')

0    This process, however, afforded me no means of...
1    It never once occurred to me that the fumbling...
2    In his left hand was a gold snuff box, from wh...
3    How lovely is spring As we looked from Windsor...
4    Finding nothing else, not even gold, the Super...
5    A youth passed in solitude, my best years spen...
6    The astronomer, perhaps, at this point, took r...
7          The surcingle hung in ribands from my body.
8    I knew that you could not say to yourself 'ste...
9    I confess that neither the structure of langua...
Name: text, dtype: object

### 3. Understanding contains, find & index

In [29]:
horror_data.text.str.contains('This')

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: text, dtype: bool

In [45]:
horror_data.text.str.contains('his')

0     True
1    False
2     True
3    False
4     True
5     True
6     True
7    False
8     True
9    False
Name: text, dtype: bool

In [30]:
horror_data.text.str.find('This')

0    0
1   -1
2   -1
3   -1
4   -1
5   -1
6   -1
7   -1
8   -1
9   -1
Name: text, dtype: int64

In [34]:
horror_data[:5].text.str.index('is')

0     2
1    64
2     4
3    11
4    67
Name: text, dtype: int64

In [49]:
df = pd.DataFrame({'Name':['Abc','Def','Jkl'], 'Email':['awidgmail.com', ' def@gmail.com', 'jkl@yahoo.com']})

In [50]:
df

  Name           Email
0  Abc   awidgmail.com
1  Def   def@gmail.com
2  Jkl   jkl@yahoo.com

In [51]:
df.Email.str.contains(r'\w+@\w+')

0    False
1     True
2     True
Name: Email, dtype: bool

In [54]:
df.Email.str.replace(pat='@',repl='&')

0     awidgmail.com
1     def&gmail.com
2     jkl&yahoo.com
Name: Email, dtype: object

### 4. Cleaning Punchuations

In [15]:
import string
table = str.maketrans('', '', string.punctuation)

In [16]:
horror_data.text.str.translate(table)

0    This process however afforded me no means of a...
1    It never once occurred to me that the fumbling...
2    In his left hand was a gold snuff box from whi...
3    How lovely is spring As we looked from Windsor...
4    Finding nothing else not even gold the Superin...
5    A youth passed in solitude my best years spent...
6    The astronomer perhaps at this point took refu...
7           The surcingle hung in ribands from my body
8    I knew that you could not say to yourself ster...
9    I confess that neither the structure of langua...
Name: text, dtype: object

In [17]:
horror_data_tf = horror_data.text.str.translate(table)

In [18]:
horror_data_tf = horror_data_tf.str.lower()

###  5. Check for string contents
* isalnum()	Equivalent to str.isalnum
* isalpha()	Equivalent to str.isalpha
* isdigit()	Equivalent to str.isdigit
* isspace()	Equivalent to str.isspace
* islower()	Equivalent to str.islower
* isupper()	Equivalent to str.isupper
* istitle()	Equivalent to str.istitle
* isnumeric()	Equivalent to str.isnumeric
* isdecimal()	Equivalent to str.isdecimal

In [23]:
df = pd.DataFrame({'A':['1234','123ab','abcde']})

In [24]:
df

       A
0   1234
1  123ab
2  abcde

* Returns only rows which contain digit

In [26]:
df[df.A.str.isdigit()]

      A
0  1234

* Returns only rows which is alphabets

In [27]:
df[df.A.str.isalpha()]

       A
2  abcde

### 6. String Manipulation
* slice()	Slice each string in the Series
* slice_replace()	Replace slice in each string with passed value
* count()	Count occurrences of pattern
* startswith()	Equivalent to str.startswith(pat) for each element
* endswith()	Equivalent to str.endswith(pat) for each element
* findall()	Compute list of all occurrences of pattern/regex for each string
* match()	Call re.match on each element, returning matched groups as list
* extract()	Call re.search on each element, returning DataFrame with one row for each element and one column for each regex 
* extractall()

In [67]:
df = pd.DataFrame({'Name':['Rush','Riba','Kunal','Pruthvi'],
                   'Email':['rush@edyoda.com','riba@edyoda.com','kunal@edyoda.com','pruthvi@edyoda.com']})

In [68]:
df

      Name               Email
0     Rush     rush@edyoda.com
1     Riba     riba@edyoda.com
2    Kunal    kunal@edyoda.com
3  Pruthvi  pruthvi@edyoda.com

In [44]:
df['Username'] = df.Email.str.slice(start = 0, step=2, stop=-11)

In [45]:
df

      Name               Email Username
0     Rush     rush@edyoda.com       rs
1     Riba     riba@edyoda.com       rb
2    Kunal    kunal@edyoda.com      knl
3  Pruthvi  pruthvi@edyoda.com     puhi

In [46]:
df['UpdatedEmail'] = df.Email.str.slice_replace(start=-11, repl='@zekelabs.com')
df

      Name               Email Username          UpdatedEmail
0     Rush     rush@edyoda.com       rs     rush@zekelabs.com
1     Riba     riba@edyoda.com       rb     riba@zekelabs.com
2    Kunal    kunal@edyoda.com      knl    kunal@zekelabs.com
3  Pruthvi  pruthvi@edyoda.com     puhi  pruthvi@zekelabs.com

* Altering value

In [62]:
df.at[2,'Email'] = 'kunal@everywhere.com'

In [63]:
df

      Name                 Email Username          UpdatedEmail
0     Rush       rush@edyoda.com       rs     rush@zekelabs.com
1     Riba       riba@edyoda.com       rb     riba@zekelabs.com
2    Kunal  kunal@everywhere.com      knl    kunal@zekelabs.com
3  Pruthvi    pruthvi@edyoda.com     puhi  pruthvi@zekelabs.com

* Filtering based domain name

In [64]:
df.Email.str.match('[\w]+@edyoda.com')

0     True
1     True
2    False
3     True
Name: Email, dtype: bool

* Extract text based on certain pattern

In [66]:
df.Email.str.extract('([\w]*)@([\w.]*)')

         0               1
0     rush      edyoda.com
1     riba      edyoda.com
2    kunal  everywhere.com
3  pruthvi      edyoda.com